%span.text-center
  .flash-notice
    = flash[:notice]
  .flash-alert
    = flash[:alert]
= devise_error_messages_auth!
.form-links.text-center
  = link_to('forgot', new_user_password_path) unless controller_name == 'passwords'
  = link_to('login', new_user_session_path) unless controller_name == 'sessions'
  = link_to('register', new_user_registration_path) unless controller_name == 'registrations'
  = link_to('confirmation', new_confirmation_path(resource_name)) unless controller_name == 'confirmations'
